body{
    color: white;
    background-image: url(./assets/background.png);
    width: auto;
    max-height: fit-content;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    background-color: black;
    padding: 2vh;
    display: flex;
}

main{
    justify-content: center;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    background-color:black;
    color: white;
    border-radius: 30px;
}
h1,li{
    margin: 1rem;
    text-decoration: none;
    color: white;
}
a, li{
    margin: 1rem;
    text-decoration: none;
    color: white;
    font-size:x-large;
}

.right a{
    margin: 1rem;
    text-decoration: none;
    color: white;
    font-size:x-large;
    border-left: 1px solid white;
    padding: 0 20px;
}

.cont1{
    margin: 2rem;
    color: white;
}
img{
    margin-left: 80px;
    width: 20vw;
    height: 40vh;
}
.imagens{
    display: flex;
}


.right{
    margin-left: 44%;
    align-items: center;
    display: flex;  
}

.right a:hover{
    cursor: pointer;
    background-color: rgb(35, 46, 58);
    display: flex;
    width: auto;
    height: 40px;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center; 
}

main a{
    width: 100px;
    height: 100px;
    background-color: rgb(35, 46, 58);
    border-radius: 14px;
}
